{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

{% endblock %}
    
{% block contenidoQueCambia %}
<li>

    <center><H1 style="color: black"> NUEVO MUNDO </H1> <p><H3 style="color: black">No te quedes afuera</H3></center></p>
    
</li>

<p>

    <a style="color:palegoldenrod" href="{% url 'perfil_listar' %}">DETALLE DE PERFILES</a>
</p>


<p>
    {% if request.user.is_authenticated %}
    <a style="color:palegoldenrod" href="{% url 'posteo_nuevo' %}">CREAR PERFIL</a>
    {% else %}
    <a style="color:palegoldenrod" href="{% url 'registrarse' %}">REGISTRARSE</a>
    
    {% endif %}
    
    

</p>


{% endblock %}
   
{% block titulo %}


{% endblock %}