{% extends "AppCoder/padre.html" %}

{% load static %}


        
{% block contenidoquecambio %}                

<form method="post">{% csrf_token %}
        
    {{formulario.as_p}}   
     <input type="submit" value="iniciar sesion">

</form>

{% if request.user.is_authenticated %}

<a class="btn btn-primary" href="{% url 'perfil' %}"></a>


{% else %}

<a class="btn btn-primary" href="{% url 'login' %}">SALIR</a>
{% endif %}

{% endblock %}

{% block contenidoQueCambia %}
    <H1>BIENVENIDO</H1>
{% endblock %}


