{% extends "AppCoder/padre.html" %} 

{% load static %}

{% block contenidoQueCambia %} 


<form action="{% url 'nuevoPerfil' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>

    <input type="submit" value="Agregar">

</form>

<p>
    <form style="color: white;" method="post">{% csrf_token %}
        <a style="color: palegoldenrod;" href="{% url 'agregarAvatar' %}">AGREGAR IMAGEN</a>
        {{form.as_p}} 
      
        <input type="submit" value="ENVIAR">

    </form>
</p>

{% endblock %}
<h1>Bienvendido {{username}}</h1>
{% block titulo %} 



{% endblock %} 