{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


{% endblock %}

{% block titulo %}


 <div class="container">
        


    <p><b style="color: black"><strong> <h2>¿Qué es "Otro Mundo" y quién hay detrás de ello? Te invito a conocer gente
        que tenga las mismas ganas de viajar que vos, y no se anime a dar el primer paso!Como a tanta gente, me encanta viajar, pero a veces en el mundo que vivimos, no es algo tan facil
        para todos, o si.. pero no es tarea fácil tomar ese primer paso. Por eso, cree este blog, con la intención de poder
        conocer gente que quiera viajar tanto como vos y no tenga las herramientas. La idea es poder ayudarnos entre todos.</h2>
    </p>


    </b></strong>

</div>



{% endblock %}