{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


{% endblock %}

{% block titulo %}


 <div class="container">
     
     


    <p><b style="color: black"><strong><h1> ¿Qué es "Otro Mundo" y quién hay detrás de ello? Te invito a conocer gente
        que tenga las mismas ganas de viajar que vos, y no se anime a dar el primer paso! </p></h1>

     <span class="hide" id="hideText">

        
     </span>
        <button>
           <a style="color: black" href="{% url 'sobre2' %}">Leer Mas</a>
        </button>
           
    </b></strong>

</div>



{% endblock %}