{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


{% endblock %}

{% block titulo %}


 <div class="container">
     <h1>Read More Button</h1>
     


    <p><b style="color: black"><strong>Si estás aquí es porque sientes curiosidad por saber quién
     ha escrito eso que has leído, te haya gustado o no. Somos Sara y JAAC. Viajar y saltar por 
     el mundo es nuestra pasión. ¿Saltar? 
     Bueno, saltar es la “pasión” de uno de nosotros</p>

     <span class="hide" id="hideText">

        <p> fue el viaje que marcó un antes y un después en nuestras vidas. Suena “exagerado”
             pero se trató de vivir un sueño: dejamos nuestros 
            trabajos de oficina y nos lanzamos a recorrer Sudamérica y Antártida sin billete de vuelta. </p>
     </span>

           <button class="readMore_btn" id="hideText_btn">Read More</button>
    </b></strong>

</div>



{% endblock %}